<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <!--Conection Database-->
    <connectionString>
		<add name="DefaultConnection" 
			 connectionString="
			 Server=BLACKARCH\SQLEXPRESS;
			 Integrated Security=yes;
			 Database=PENITENTIARY;
			 User=AdminUser;
			 Password=Boris2309"/>
	<add name="PenitentiaryContext" 
		 connectionString="metadata=res://*/ModelPenitentiary.csdl|res://*/ModelPenitentiary.ssdl|res://*/ModelPenitentiary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=PENITENTIARY;persist security info=True;user id=AdminUser;password=Boris2309;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionString>
</configuration>