<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <!--Conection Database-->
    <connectionString>
		<add name="DefaultConnection" 
			 connectionString="
			 Server=BLACKARCH\SQLEXPRESS;
			 Integrated Security=yes;
			 Database=PENITENTIARY;
			 User ID=AdminUser;
			 Password=Boris2309"/>
	</connectionString>
</configuration>